<br>
<br>
<div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="card">

      <div class="card-header">
        Login

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-inverse">
            <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Type
              </th>
              <th>
                Titre
              </th>
              <th>
                Description
              </th>
              <th>
                Point de complexité
              </th>
              <th>
                Bv
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                1
              </th>
              <td>
                Urgente
              </td>
              <td>
                classe user
              </td>
              <td>
                créer classe user qui contient les informations des utilisateurs.
              </td>
              <td>
                11
              </td>
              <td>
                15
              </td>
            </tr>
            <tr>
              <th scope="row">
                2
              </th>
              <td>
                peu urgente
              </td>
              <td>
                jwt
              </td>
              <td>
                instalation jwt bundle
              </td>
              <td>
                15
              </td>
              <td>
                15
              </td>20

            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
    <button *ngIf="show" type="button" (click)="print()" class="btn btn-danger float-lg-right btn-lg mr-2">Export</button>
  </div>

  <div class="col-md-2">
    <br>
    <br>


  </div>
</div>
