<br>

<div class="row">

  <div class="col-md-7">
 <div class="card">
   <div class="card-header">
    <h6 class="card-title text-uppercase">Gestion d'un Backlog fonctionnel</h6>
   </div>
   <div class="card-body">
    <p class="card-text">
      le développement d'une application web pour la gestion des projets sous la méthodologie SCRUM.
      <br>
      <br>

      <button type="button" class="btn float-right btn-warning ">Modifier</button>
    </p>
   </div>
 </div>
</div>

  <div class="col-md-5">

    <div class="card">
      <div class="card-header">

        <h6 class="card-title text-uppercase">Membres affectés</h6>

      </div>
      <div class="card-body">
        <p class="card-text">
          <b>Scrum Master :</b> Bilel Béjaoui <br>
          <b> Testeur :</b> Hajer Ben Mahmoud<br>
            <b> Développeur(se) :</b> Fatma Oueslati<br>
              <b> Développeur(se) :</b> Oumaima Ferjani<br>

          <button type="button" class="btn float-right btn-warning ">Modifier</button>
          <br>
        </p>
      </div>
    </div>

  </div>
</div>

<br>

<br>

<div class="row">
<div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title text-uppercase">Liste des Epics</h6>
      </div>
    </div>
    <ngb-accordion #acc="ngbAccordion" >
      <ngb-panel title="Création d'un utilisateur">
        <ng-template ngbPanelContent>

          Cet Epic a pour but de développer et tester la classe intitulée "user".<br>
          Elle permet l'ajout la supression et la modification des information d'un utilisateur.

          <div class="col-md-10">
            <div class="btn-group float-right mt-2" role="group">
              <button type="button" class="btn btn-info btn-lg mr-1">Détails</button>
              <button type="button" class="btn btn-dark btn-lg mr-1">Modifier</button>
              <button type="button" class="btn btn-danger btn-lg mr-1">Supprimer</button>
            </div>
          </div>
        </ng-template>

      </ngb-panel>

      <ngb-panel title="système d'authetification">
        <ng-template ngbPanelContent>
               .

          <div class="col-md-10">
            <div class="btn-group float-right mt-2" role="group">
              <button type="button" class="btn btn-outline-info btn-lg mr-1">Modifier</button>
              <button type="button" class="btn btn-outline-danger btn-lg mr-1">Annuler</button>

            </div>
          </div>
        </ng-template>

      </ngb-panel>


      <ngb-panel title="gestion de profil">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.

          <div class="col-md-10">
            <div class="btn-group float-right mt-2" role="group">
              <button type="button" class="btn btn-outline-info btn-lg mr-1">Modifier</button>
              <button type="button" class="btn btn-outline-danger btn-lg mr-1">Annuler</button>

            </div>
          </div>
        </ng-template>

      </ngb-panel>


    </ngb-accordion>
  </div>
  <div class="col-md-1">
  </div>
</div>

