<
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class=center-block>
        <div class="card-header">Ajouter une réunion</div>
        <div class="card-body">
          <form class="form-horizontal" novalidate>

            <div class="form-group row">
              <label for="id-titre" class="col-3 col-form-label">Titre</label>
              <div class="col-9">
                <input class="form-control" type="text" value="" id="id-titre" placeholder="Titre">
              </div>
            </div>

            <div class="form-group row">
              <label for="exampleFormControlSelect2" class="col-3 col-form-label">Type</label>
              <div class="col-6">
                <select  class="form-control" id="exampleFormControlSelect2">
                  <option value=""></option>
                  <option value="Urgente">Urgente</option>
                  <option value="Peu urgente">Peu urgente</option>
                  <option value="Normale">Normale</option>

                </select>
              </div>
            </div>






            <div class="form-group row">
              <label for="id-com" class="col-3 col-form-label">Description</label>
              <div class="col-9">
                <input class="form-control" type="number" value="" id="id-com" placeholder="Point de complexité">
              </div>
            </div>
            <div class="form-group row">
              <label for="id-bv" class="col-3 col-form-label">Date</label>
              <div class="col-9">
                <input class="form-control" type="date" value="" id="id-bv" placeholder="BV">
              </div>
            </div>

          </form>

          <br>
        <br>
        <div class="col-md-10">
          <div class="btn-group float-right mt-2" role="group">
            <button type="button" class="btn btn-dark btn-lg mr-1">Ajouter</button>
            <button type="button" class="btn btn-danger btn-lg mr-1">Annuler</button>

          </div>
        </div>

      </div>

      <br>
      <br>

      </div>
    </div>
  </div></div>


  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <div class="card">

    <div class="card-header">
    Liste des réunions
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Type
            </th>
            <th>
              Titre
            </th>
            <th>
             Description
            </th>
            <th>
              Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              Urgente
            </td>
            <td>
              Daily meeting
            </td>
            <td>
              Vérification Token
            </td>
            <td>
              17/03/2019
            </td>
          </tr>
          <tr>
            <th scope="row">
              2
            </th>
            <td>
              peu urgente
            </td>
            <td>
              planification de sprint
            </td>
            <td>
              fixer les taches à réaliser dans le sprint suivant.
            </td>
            <td>
              20/04/2019
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
  </div>
>
