
<div class="container">
  <br>
    <div class="row">
      <div class="container mt-3">

      </div>


      <br>
      <br>
      <br>

      <div class="col-md-9">
        <form class="form-inline">
          <input class="form-control col-form-label-lg-3" type="search" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-dark">OK</button>
        </form>
      </div>
      <div class="col-md-3">
        <div class="btn-group float-right mt-2" role="group">

         <button type="button" class="btn btn-danger btn-lg mr-1">Tous les projets</button>
          <button type="button" class="btn btn-info btn-lg mr-1">créer un projet</button>

        </div>
      </div>
    </div>
  <br>
  <br>
  <div>
    <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
         En cours
        </div>
        <div class="card-body">
          <h6 class="card-title text-uppercase">Gestion d'un Backlog fonctionnel</h6>
          <p class="card-text">
            le développement d'une application web pour la gestion des projets sous la méthodologie SCRUM.
          </p>
          <button class="btn btn-outline-info mr-1 mb-1">Détails</button>
          <button type="button" class="btn btn-outline-danger mr-1 mb-1">Supprimer</button>
          <button type="button" class="btn btn-outline-dark">Archiver</button>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            En cours
          </div>
          <div class="card-body">
            <h6 class="card-title text-uppercase">Gestion de pointage</h6>
            <p class="card-text">
              le développement d'une application web et mobile pour la gestion de pointage des collaborateurs.
            </p>
            <button class="btn btn-outline-info mr-1 mb-1">Détails</button>
            <button type="button" class="btn btn-outline-danger mr-1 mb-1">Supprimer</button>
            <button type="button" class="btn btn-outline-dark">Archiver</button>
          </div>
        </div>
      </div>


  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        En cours
      </div>
      <div class="card-body">
        <h6 class="card-title text-uppercase">T-VIOO</h6>
        <p class="card-text">
          Ajout d'un module pour la gestion des formations
        </p>
        <button class="btn btn-outline-info mr-1 mb-1">Détails</button>
        <button type="button" class="btn btn-outline-danger mr-1 mb-1">Supprimer</button>
        <button type="button" class="btn btn-outline-dark">Archiver</button>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        En cours
      </div>
      <div class="card-body">
        <h6 class="card-title text-uppercase">T-VIOO</h6>
        <p class="card-text">
          développement d'un module pour la gestion des suites de départ.
        </p>
        <button class="btn btn-outline-info mr-1 mb-1">Détails</button>
        <button type="button" class="btn btn-outline-danger mr-1 mb-1">Supprimer</button>
        <button type="button" class="btn btn-outline-dark">Archiver</button>
      </div>
    </div>
  </div>


      </div>
    </div>

</div>
