<br>
<br>

<div class="row">
<div class="col-md-4 ">
  <form class="form-inline float-right">
    <input class="form-control col-form-label-lg-3" type="search" placeholder="Search" aria-label="Search">
    <button type="button" class="btn btn-danger">OK</button>
  </form>
</div>


<div class="col-md-6" >
  <div class="btn-group float-right mt-2" role="group">


    <button type="button" class="btn btn-dark btn-lg mr-1">Ajouter User Story</button>

  </div>
</div>
</div>

<br>
<br>

<div class="taskboard page-height">
  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">Backlog</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">géneration d'un TOKEN</div>
          <small class="card-text text-muted">installation de JWT bundle et le configurer.</small>
        </div>

      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">To Do</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">validation mail</div>
          <small class="card-text text-muted">vérifier que l'utilisateur va entrer une adresse mail valide.</small>
        </div>

        <div class="taskboard-task task-status-warning">
          <div class="taskboard-task-title">cryptage du mot de passe</div>
          <small class="card-text text-muted">voir les différentes types des algorithmes de cryptage.</small>
        </div>
        <div class="taskboard-task task-status-danger">
          <div class="taskboard-task-title">user interface</div>
          <small class="card-text text-muted">implementation du user interface.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">In Process</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">synchronisation de la base de données</div>
          <small class="card-text text-muted">vérifier l'existence des attributs, leurs types, unicité et nullabilité.</small>
        </div>
        <div class="taskboard-task task-status-warning">
          <div class="taskboard-task-title">docummentation</div>
          <small class="card-text text-muted">docummentation du code.</small>
        </div>

      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">In Review</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>
        <div class="taskboard-task">
          <div class="taskboard-task-title">Création de la classe user</div>
          <small class="card-text text-muted">Génération de la classe user avec tous les attribus demandés.</small>
        </div>

      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list">
      <h6 class="taskboard-header">Done</h6>
      <div class="taskboard-cards" [dragula]='"task-group"'>

      </div>
    </div>
  </div>
</div>
