  <div class="row">
    <div class="col-6">
      <div class="card">
         <div class="card-header">
             Vos informations
         </div>
       <div class="card-body">
        <p class="card-text">
          <strong>Nom d'utilisation :</strong> FatmaOues
         <br>
          <br>
          <br>
          <strong> Nom et Prénom :</strong> Fatma Oueslati
          <br>
          <br>
          <br>
            <strong>E-mail : </strong>fatma.oueslati@gmail.com
          <br>
          <br>
          <br>
              <strong> Téléphone :</strong> 27703214

        </p>
       </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">Modifier votre profile</div>
      <div class="card-body">
        <form class="form-horizontal" novalidate>

          <div class="form-group row">
            <label for="id-nom" class="col-3 col-form-label">Nom d'utilisation</label>
            <div class="col-9">
              <input class="form-control" type="text" value="" id="id-nom" placeholder="Nom d'utilisation">
            </div>
          </div>

          <br>
          <br>
          <div class="form-group row" [ngClass]="{'has-danger': email?.errors?.email}">
            <label class="col-3 col-form-label">E-mail</label>
            <div class="col-9">
              <input class="form-control"  placeholder="E-mail" type="text" ngModel name="email" #email="ngModel" email [ngClass]="{'form-control-danger': email?.errors?.email}"/>
              <div class="form-control-feedback" *ngIf="email?.errors?.email">Vérifier votre E-mail</div>
            </div>
          </div>
          <br>
          <br>

          <div class="form-group row">
            <label class="col-3 col-form-label">Mot de passe</label>
            <div class="col-9">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
          </div>
          </div>
        </form>


        <br>
        <br>
        <br>
        <br>
        <div class="col-md-10">
          <div class="btn-group float-right mt-2" role="group">
            <button type="button" class="btn btn-outline-info btn-lg mr-1">Modifier</button>
            <button type="button" class="btn btn-outline-danger btn-lg mr-1">Annuler</button>

          </div>
        </div>
      </div>
    </div></div>
  </div>



